<p id="notice"><%= notice %></p>

<h1>Xpenses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @xpenses.each do |xpense| %>
      <tr>
        <td><%= xpense.name %></td>
        <td><%= xpense.amount %></td>
        <td><%= link_to 'Show', xpense %></td>
        <td><%= link_to 'Edit', edit_xpense_path(xpense) %></td>
        <td><%= link_to 'Destroy', xpense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Xpense', new_xpense_path %>
